html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page {
    display: none;
}

.disabled-loading {
    pointer-events: none;
    opacity: 50%;
}

.loader {
    display: none;
    width: 20px;
    height: 20px;
    color: transparent;
    font-size: 0;
    background-image: url('../svg/loader.svg');
    background-size: 100% 100%;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error-message {
    color: red;
}

.section {
    width: 600px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin: 10px auto;
}

@media (max-width: 620px) {
    .section {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

.section-title {
    padding: 0;
    margin: 0 0 0.5em 0;
    font-size: 1.5em;
}

@media (max-width: 500px) {
    .transactions {
        font-size: 0.7em;
    }
}

.summary-content {
    margin-top: 10px;
}

.summary-content-bar-graph {
    position: relative;
    height: 30px;
    width: 100%;
}

.summary-content-bar {
    float: left;
    height: 100%;
}

.summary-content-legend-item {
    display: inline-block;
    margin: 10px;
}

.summary-content-swatch {
    border: 5px solid white;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    float: left;
}

.summary-content-legend-item > label {
    display: inline-block;
    line-height: 2em;
    font-style: oblique;
}
